@font-face {
  font-family: 'Menlo';
  src: url('http://127.0.0.1:3000/art-interface/fonts/Menlo.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MS';
  src: url('http://127.0.0.1:3000/art-interface/fonts/Microsoft Sans Serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dogica';
  src: url('http://127.0.0.1:3000/art-interface/fonts/dogica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 20px 60px auto 20px; 
  height: auto;
  width: calc(90vw - 40px);
  border: solid #5c3faa;
  border-width: 1px;
  margin: 0 10px;
}


.header, .options, .footer, .yellow-tab, .output-section {
  padding: 20px;
  border: solid #5c3faa;
  border-width: 1px;
}

.header {
  grid-column: 1 / 3; 
  background-color: #ffffff;
  color: #423c3d;
  height: 50px;
  text-align: center;
  font-family: 'dogica';
  font-size: 20px;
  grid-row: 2 / 3;
}

.yellow-tab{
  grid-column: 1 / 3; 
  background-color: #fee98e;
  grid-row: 1 / 2;

}

.options {
  background-color: #ffffff;
  grid-row: 3 / 5;
  grid-column: 1 / 3; 
  display: grid;
  gap: 20px; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center; 
  justify-items: center; 
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Menlo';
}


input[type="radio"] {
  display: none;

}

input[type="radio"] + label {
  display: inline-block;
  padding: 4px 16px;
  border: 1px solid #5436a6;
  cursor: pointer;
  background-color: #ffffff;
  color: #423c3d;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 20px;
  grid-row: 1 / 3;
  
}

input[type="radio"]:checked + label {
  background-color: #ffa9fe;
  color: #423c3d;

}


input[type="radio"]+label:hover {
  background-color: #dad3ff;
  color: #423c3d;

}


.submit-button {
  padding: 4px 20px; 
  background-color: #ffffff; 
  color: #423c3d; 
  border: solid #5436a6; 
  border-width: 1px;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  font-family: 'Menlo';
  font-size: 14px;
}

.submit-button:hover {
  background-color: #dad3ff; 
}


.input-section {
  grid-column: 1 / 2;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px; 

}

textarea {
  width: calc(100% - 20px); 
  height: calc(100% - 20px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; 
  font-family: 'Menlo';
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f8f8;
  overflow-y: auto; 
  overflow-x: auto; 
  white-space: nowrap; 
}
textarea:focus {
  outline: none; 
  border-color: #5c3faa; 
}

.output-section {
  grid-column: 2 / 3;
  height: 100px; 
  width: calc(100% - 20px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; 
  font-family: 'Menlo';
  font-size: 14px;
  line-height: 1.3;
  color: #333;
  background-color: #f8f8f8;
  overflow-y: auto; 
  overflow-x: auto; 
  white-space: pre-wrap; 
}

#colorPicker {
  width: 100px; 
  height: 26px; 
  border: solid #5c3faa; 
  border-width: 1px;
  cursor: pointer; 
  margin-top: 20px;
}
.font-selector-label {
  font-family: 'Menlo';
  font-size: 14px;
  color: #423c3d;
  margin-top: 20px;
  margin-left: 20px;

}
.color-picker-label{
  margin-left: 10px; 
  font-family: 'Menlo';
  font-size: 14px;
  color: #423c3d;
  margin-top: 20px;
  margin-left: 20px;

}

.font-selector {
  font-family: 'Menlo';
  font-size: 14px;
  color: #423c3d;
  padding: 4px;
  border: solid #5c3faa;
  border-width: 1px;
  cursor: pointer;
  margin-top: 20px;

}


.clear-button, .copy-button {
  padding: 4px 16px;
  background-color: #ffffff; 
  color: #423c3d; 
  border: solid #5436a6; 
  border-width: 1px;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  font-family: 'Menlo';
  font-size: 14px;
  margin-top: 20px;
  margin-left: 20px;

}

.clear-button:hover, .copy-button:hover {
  background-color: #dad3ff; 
}

.footer {
  grid-column: 1 / 3; 
  background-color: #fee98e;
  color: #423c3d;
  grid-row: 5 / 6;
  font-family: 'dogica';
  font-size: 8px;
  text-align: center;
  
}



